:host .highcharts-plot-line.retirement_point {
    stroke: var(--chart-primary-color);
    stroke-width: 2px;
}

:host .highcharts-plot-line.depletion_point {
    stroke: var(--chart-danger-color);
    stroke-width: 2px;
}


:host .pre-retirement-zone {
    &.highcharts-area {
        fill: var(--chart-success-color);
        fill-opacity: 1;
    }

    &.highcharts-graph {
        stroke: var(--chart-success-color);
    }
}

:host .retirement-zone {
    &.highcharts-area {
        fill: var(--chart-primary-color);
        fill-opacity: 1;
    }

    &.highcharts-graph {
        stroke: var(--chart-primary-color);
    }
}

:host .post-corpus-depletion-zone {
    &.highcharts-area {
        fill: var(--chart-danger-color);
        fill-opacity: 1;
    }

    &.highcharts-graph {
        stroke: var(--chart-danger-color);
    }
}