:host {
    & .investment > path {
        fill: var(--chart-primary-color);
        fill-opacity: 1;
        stroke: var(--chart-primary-color);
    }

    & .interest > path {
        fill: var(--chart-success-color);
        fill-opacity: 1;
        stroke: var(--chart-success-color);
    }
}
